.header {
  width: 100%;
  top: 1;
  z-index: 1;
  position: fixed;
}
nav {
  display: flex;
  justify-content: flex-end;
  height: 50px;
  align-items: center;
  margin: 0 20px;
}
nav ul {
  display: none;
  list-style: none;
  justify-content: flex-end;
  align-items: center;
}
nav.nav__menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border: none;
  outline: none;
  background-color: transparent;
  z-index: 999;

}
nav li {
  transform: translateY(-60px);
  opacity: 0;
  animation: navlink 1s forwards;
}

.nav__link {
  color: var(--clr-white);
  text-decoration: none;
  margin: 0 5px;
  transition: color 0.3s;
  cursor: pointer;
}
nav li:nth-child(4) {
  animation-delay: 200ms;
}
nav li:nth-child(3) {
  animation-delay: 400ms;
}
nav li:nth-child(2) {
  animation-delay: 600ms;
}
nav li:nth-child(1) {
  animation-delay: 800ms;
}
@keyframes navlink {
  0% {
    transform: translateY(-60px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.nav__menu {
  display: block;
  width: 20px;
  height: 20px;
  fill: var(--clr-white);
  z-index: 999;
}
@media screen and (min-width: 768px) {
  nav {
    margin: 0 100px;
  }
  nav ul {
    display: flex;
  }
  .nav__link {
    display: block;
  }
  .nav__link:hover {
    filter: drop-shadow(2px 2px 5px  var(--clr-primary));

    color: var(--clr-primary);
  }
  .nav__menu {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  nav {
    margin: 0 350px;
  }
  nav ul {
    display: flex;
  }
  .nav__menu {
    display: none;
  }
  .nav__link {
    display: block;
  }
}
