:root {
    --clr-primary: #155dfe;
    /* --clr-black:#030619; */
    /* --clr-black:#0d0e17; */
    --clr-black: #0b0a06;
    --clr-white: #fafbf5;
    --clr-grey-l: #d7d3cf;
    --clr-grey-d: #1c1816;

    /* Sizes */

    /* small */
    --body-fnt-xs: 0.85rem;
    --fnt-h1-xs: 1.75rem;
    --fnt-h1-xs: 1.5rem;
    --fnt-p-xs: 0.875rem;

    /* Small */
    --body-fnt-sm: 0.85rem;
    --fnt-h1-sm: 2rem;
    --fnt-h1-sm: 1.75rem;
    --fnt-p-sm: 0.875rem;

    /* mediaum */
    --body-fnt-md: 0.9rem;
    --fnt-h1-md: 2rem;
    --fnt-h1-md: 1.75rem;
    --fnt-p-md: 0.875rem;

    /* large */
    --body-fnt-lg: 1rem;
    --fnt-h1-lg: 2.5rem;
    --fnt-h1-lg: 2rem;
    --fnt-p-lg: 1rem;
}
h1 {
    font-weight: 900;
}
h2 {
    font-weight: 500;
}
p {
    font-weight: 300;
    color: var(--clr-grey-l);
}
a {
    color: var(--clr-primary);
}

.cta-primary {
  display: inline-flex;

    color: var(--clr-white);
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    background-color: var(--clr-primary);
    border: 1px solid var(--clr-primary);
    transition: all 0.3s;
}
.cta-primary:hover {
    filter: drop-shadow(2px 2px 5px  var(--clr-primary));
    
    color: var(--clr-grey-l);
    /* box-shadow: 2px 2px 10px var(--clr-primary); */
}
.cta-secondary {
  display: inline-flex;

  color: var(--clr-primary);
  padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    background-color: #155ffe1e;
    transition: all 0.3s;
    border: 1px solid var(--clr-primary);
}
.cta-secondary:hover {
    filter: drop-shadow(2px 2px 5px  var(--clr-primary));
    color: var(--clr-primary);
    /* box-shadow: 2px 2px 10px var(--clr-primary); */
}

strong {
    color: var(--clr-primary);
    font-weight: 600;
}